<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guiyuan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zhlk_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.HisVerticalActivity"
            android:label="@string/title_activity_his_vertical" >
        </activity>
        <activity
            android:name=".Activity.QianyangActivity"
            android:label="@string/title_activity_qianyang" >

        </activity>
        <activity
            android:name=".Activity.ZhiKuActivity"
            android:label="@string/title_activity_zhi_ku" >

        </activity>
        <activity
            android:name=".Activity.SelectStoreActivity"
            android:label="@string/title_activity_select_store" >

        </activity>
        <activity
            android:name=".Activity.ChukuActivity"
            android:label="@string/title_activity_chuku" >
        </activity>

        <!-- NFC引用2015-07-24  xiandqw -->
        <activity
            android:name="cilico.tools.Nfcreceive"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/BackgroundOnly" >
            <intent-filter>
                <action android:name="com.lql.service.ServiceDemo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" >
                </action>

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <!-- NFC -->
        <activity
            android:name="com.example.guiyuan.Activity.MenWeiActivity"
            android:label="@string/title_activity_men_wei" >
        </activity>
    </application>

</manifest>